<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
    {% include "blocklyUI/head.html" %}
   
    <body onload='init("about")'>
        <div class="pageContainer">
            {% include "blocklyUI/nav-bar.html" %}
            
            <div class="centered section grey">
                <div class="w-container">
                    <h2 class="section-title">About QuAnGIS project.</h2>
                    
                    <p>QuAnGIS stands for Question-based analysis of Geographic Information with Semantic Queries.</p>
                    <p>Within the project, we aim to develop a novel theory of interrogative spatial concepts to turn geo-analytical questions into a machine-readable form using semantic queries. Or in plain language: teaching analytical systems to process full sentenced questions. In this form, questions can directly be matched with the capacity of major analytic GIS tools and data on the web.</p>
                    <p>With this project we want to lay the theoretical as well as computational foundations for a Semantic Web based GIS infrastructure. This allows analysts to search for appropriate data and tools on the Web, simply by formulating an analytical question, and to load the required resources to answer this question directly from the web into a GIS.</p>
                </div>
            </div>
            
            <div class="centered section dark team">
                <div class="w-container">
                    <h2 class="section-title">About the QuAnGIS team.</h2>
                    <div class="w-row">
                        <div class="w-col w-col-4 w-col-small-4">
                            <div class="portrait"><img src="{% static 'blocklyUI/media/images/scheider.png'%}"></div>
                            <h3><a href="https://www.uu.nl/medewerkers/SScheider" target="_blank">Dr. Simon Scheider</a></h3>
                            <h5>Assistant Professor, principal investigator.</h5>
                            <p>SGPL, Faculty of Geosciences, Utrecht University.</p>
                            <p>An assistant professor in geographic information science. My research lies at the interface between conceptual modeling, geographic data analysis and knowledge extraction. I am particularly interested in understanding the concepts underlying spatio-temporal data, inlcuding reference systems, fields, places, spatial objects, events, trajectories and their relationship to human activities, and in practical methods for modeling and handling them with GIS and semantic technology.</p>
                        </div>
                        <div class="w-col w-col-4 w-col-small-4">
                            <div class="portrait"><img src="{% static 'blocklyUI/media/images/nyams.png'%}"></div>
                            <h3><a href="https://bcogs.info/" target="_blank">Dr. Enkhbold Nyamsuren</a></h3>
                            <h5>Postdoc researcher, developer.</h5>
                            <p>SGPL, Faculty of Geosciences, Utrecht University.</p>
                            <p>My background is in Intelligent Software Engineering and Artificial Intelligence. I specialize in Cognitive Science and symbolic knowledge modeling. I am responsible for the front- and back-end development as well as performing empirical studies to justify the theoretical framework for the QuAnGIS' prototype geoQA system. I also supervise research and development of the junior memebers of our team.</pa>
                        </div>
                        <div class="w-col w-col-4 w-col-small-4">
                            <div class="portrait"><img src="{% static 'blocklyUI/media/images/xu.png'%}"></div>
                            <h3><a href="https://nl.linkedin.com/in/haiqi-xu-915bb3146" target="_blank">Haiqi Xu, MSc</a></h3>
                            <h5>PhD student.</h5>
                            <p>SGPL, Faculty of Geosciences, Utrecht University.</p>
                            <p>My name is Haiqi Xu. I am a PhD student at the Department of Human Geography and Spatial Planning, Utrecht University. I am interested in Geographic question answering (GeoQA), Natural language processing, GeoAI, and Geographic Information Science. My PhD research highly focuses on modelling geo-analytical questions for the QuAnGIS GeoQA system. I obtained my MSc degree in Geo-information Science and Earth Observation from Lund University and the Faculty of ITC, University of Twente. My master’s thesis was focused on Semantic Web and linking geographic data. I got my BS degree in Geographic Information Science from the Department of Geographic Information Science, Wuhan University.</p>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-4 w-col-small-4">
                            <div class="portrait"><img src="{% static 'blocklyUI/media/images/top.png'%}"></div>
                            <h3><a href="https://nl.linkedin.com/in/eric-top-a1701a172" target="_blank">Eric Top, MSc</a></h3>
                            <h5>PhD student.</h5>
                            <p>SGPL, Faculty of Geosciences, Utrecht University.</p>
                            <p>I have a background in human geography and geographic information science. In this project, I focus on defining meaningful concepts of geo-information, geo-data, and geography as a whole, using logic. In particular, I am interested in quantity concepts, such as amounts, magnitudes, extents, and intents, and how these may be used in building theories about geographical phenomena. I work with First-Order Logic, Formal Concept Analysis, and Ontologies. I am also involved in workflow annotation, developing principled annotation methods, and studies on the cognition of GI-experts.</p>
                        </div>
                        <div class="w-col w-col-4 w-col-small-4">
                            <div class="portrait"><img src="{% static 'blocklyUI/media/images/steenbergen.png'%}"></div>
                            <h3><a href="https://www.uu.nl/staff/NSteenbergen" target="_blank">Niels Steenbergen, MSc</a></h3>
                            <h5>Research assistant, developer.</h5>
                            <p>SGPL, Faculty of Geosciences, Utrecht University.</p>
                            <p>I address technical aspects of the QuAnGIS project: developing methods
                            of composing and querying the semantic content of geographic workflows
                            using techniques from computer science, such as type inference, linked
                            data queries and SAT solvers, as well as describing such methods in
                            articles. I also work on integrating the different components of the
                            prototype.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="section grey last">
                <div class="w-container">
                    <h2 class="section-title">Contact Info.</h2>
                    
                    <div class="w-row">
                        <div class="w-col w-col-6 w-col-small-6">
                            <h3>Contact person</h3>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <h5>Dr. Simon Scheider</h5>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6 w-col-small-6">
                            <h3>Email</h3>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <h5>s.scheider@uu.nl</h5>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6 w-col-small-6">
                            <h3>Phone</h3>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <h5>030 253 2966</h5>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6 w-col-small-6">
                            <h3>Address</h3>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <h5>Room 6.16, Vening Meineszgebouw A, Utrecht University, Princetonlaan 8a, 3584 CB Utrecht</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include "blocklyUI/footer.html" %}
        </div>
    </body>
</html>