<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
    {% include "blocklyUI/head.html" %}
   
    <body onload='init("index")'>
        <div class="pageContainer">
            {% include "blocklyUI/nav-bar.html" %}
            
            <div class="hero section">
                <div class="w-container">
                    <h1 class="hero-heading">Welcome to the QuAnGIS Demonstration.</h1>
                    <p class="hero-subhead">The aim of the QuAnGIS project is to realize a seamless data driven spatial science using geographic information through question-based analysis, which is a novel way of interacting with geoanalytical resources via Question Answering (QA) technology. The project lays the theoretical as well as computational foundations for a Semantic Web based infrastructure that allows analysts to search for appropriate data and methods on the Web simply by formulating analytical questions.</p>
                    <div class="button-group">
                        <a class="button sign-up" href="{% url 'blocklyUINS:urln_demoPage' %}">Try Demo</a>
                        <a class="button" href="{% url 'blocklyUINS:urln_tutorialsPage' %}">See Tutorials</a>
                    </div>
                </div>
            </div>
          
            {% include "blocklyUI/footer.html" %}
        </div>
    </body>
</html>